.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bottomMargin {
  margin-bottom: 1em !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
.darkWhiteBackground {
  background-color: #f3f4f5 !important;
}
.whiteBackground {
  background-color: #ffffff !important;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; /* height of your footer */
}
.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.no-borders {
  border: none !important;
  box-shadow: none !important;
}
.full-height {
  height: 100vh;
}
.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.custom-options-dropdown {
  display: block;
  width: 88%;
  margin: auto;
}
.custom-options-dropdown > div.text {
  margin: auto;
  display: block !important;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
.custom-options-dropdown .item span {
  margin: auto;
  display: block !important;
  margin-right: 19px;
  text-align: center;
}

/* .redux-toastr .toastr.rrt-success {
  background-color: @primaryColor !important;
} */
